@font-face {
    font-family: norse;
    src: url("Norse-Bold.otf");
}

.form-row {
    display: grid;
}




.form-row {
    margin-bottom: 10px;
    
}





button {
    border-radius: 5px;
    background-color: #596D48;
    color: white;
    margin-top: 10px;
}
header {
    background-color: #E5E7EB;
    display: grid;
    padding: 20px;
    margin-left: 0px;
    margin-top: 0;
    width: fit-content;
}


.image {
    display: flex;
    justify-items: center;
    align-items: center;
    
}

input {
    border: 2px solid #E5E7EB;
    border-radius: 5px;
}
input:focus {
    border: 2px solid blue;
    box-shadow: 10px 5px 10px blue;
}

.logo {
    position: relative;
    display: flex;
    height: 25%;
    width: fit-content;
    z-index: -1;
    justify-content: center;
    align-items: center;
    background-color: hsla(120, 0%, 10%, .4);
}

.green-logo {
    position: absolute;
    width: auto;
    height: 100%;
    z-index: -1;
    
}

.footer {
    background-color: #E5E7EB;
    border: none;
    
}

.error:valid {
    border: 2px solid red;
    box-shadow: 10px 5px 10px red;

}


.norse {
    font-family: norse;
    color: white;
    font-size: 50px;
}

.logo1 {
    width: 25%;
}


.citation {
    position: fixed;
    bottom: 0;
    left: 100px;
    color: white;

}

.noerror:valid {
    border: 2px solid lime ;
}